# Python
__pycache__
*.pyc
*.pyd
.Python
*.so
pyenv

# Git
.git
.gitignore

# Documentation
README.md
*.md

# Project-Specific
terraform/
scripts/
keys/
deactivate/
Lib/
Include/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db